@import 'tailwindcss';
@source "../views";

@theme {
    --appbar-height: 56px;
    --drawer-height: 100%;
    --drawer-width: 271px;

    --color-primary: #FF5700;
    --color-surface-1: #FFFFFF;
    --color-surface-1-border: #00000033;
    --color-surface-2: #E5EBEE;
    --color-typhography-muted: #abc3c9;

    --margin-small: 8px;
    --margin-medium: 12px;
    --margin-content: 16px;

    --padding-small: 8px;
    --padding-medium: 12px;
    --padding-content: 16px;
}